// 
// projects.scss
//

// project list

.project-list-table{
    border-collapse:separate; 
    border-spacing:0 12px; 
  tr{
    background-color: $card-bg;
  }
  
}

.custom-dropdown-nav{
  background-color: $sidebar-dark-bg;
  color: $white;
  border-radius: 15px;
  height: 28px;
  padding:0 30px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  color: rgba($white, 0.7);
  i{
    margin-left: 5px;
  }
  &:hover{
    color: rgba($white, 1);
  }
}

.custom-datepick{
  .react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: auto !important;
  }
}
